<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Test NodeJS</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        body        { padding-top:10px; }
    </style>
</head>
<body>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Test </h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/addnote" class="btn btn-default"><span class="fa fa-user"></span> Add Note</a>
		<a href="/addbeer" class="btn btn-default"><span class="fa fa-user"></span> Add Beer</a>
		<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
    </div>

	<div class="row-fluid">
    	<div class="list offset3 span6">
    	<table class="table table-hover table-bordered">
    	<thead class="span6"><tr><th> <h4><span class="fa fa-cutlery"></span> Beer List </h4></th></tr></thead>
        <tbody>
            <% beers.forEach( function (beer){ %>
    		<tr><td><%= beer.name %> | <a class="btn btn-success" href="/beers/<%= beer._id %>"> Edit </a> | 
            <a data-href="/delete/<%= beer._id%>" class="btn btn-danger" data-toggle="modal" data-target="#basicModal" href="#"> Delete </a></td></tr>

            <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a href="/delete/<%= beer._id%>" class="btn btn-danger danger">Yes</a>
            </div>
        </div>
    </div>
</div>
            <% }); %>
        </tbody>
    	</table>
    	</div>
	</div>
</div>

<script>
    $('#basicModal').on('shown.bs.modal', function (e) {
        //$(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
</body>
</html>